<%= form_tag @item,  id: "item_form"  do %>
    <div class="form-floating">
        <%= select_tag :packing_style, options_for_select(['CRATE', 'SKID', 'BARE','CASE'],'CRATE'), class: 'form-select' %>
        <%= label_tag :packing_style %>
    </div>

    <h1> SIZE </h1>
    <div class="size_group d-flex ">
      <fieldset>
        <legend><%= label_tag :length %></legend>
        <%= number_field_tag :length,nil, in: 0..1500, step: 1, class: 'item_attribute'%>
        
      </fieldset>

      <fieldset>
        <legend><%= label_tag :width %></legend>
        <%= number_field_tag :width,nil, in: 0..600, step: 1, class: 'item_attribute' %>
        
      </fieldset>

      <fieldset>
        <legend><%= label_tag :height %> </legend>
        <%= number_field_tag :height,nil, in: 0..1200, step: 1,class: 'item_attribute' %>
      </fieldset>

      <fieldset>
        <legend><%= label_tag "Unit"%></legend>
        <p>cm</p>
      </fieldset>
    </div>

    <h1> GROSS WEIGHT </h1>
    <div class="size_group d-flex">
      <fieldset>
        <legend><%= label_tag :weight %> </legend>
        <%= number_field_tag :weight,nil, in: 0.0..35.0, step: 0.1, class: 'item_attribute' %>
      </fieldset>
      
      <fieldset>
        <legend><%= label_tag "Unit"%></legend>
        <p>ton</p>
      </fieldset>
      
    </div>

    <h1> CENTER OF GRAVITY HEIGHT </h1>
    <div class="size_group d-flex">
      <fieldset>
        <legend><%= label_tag :cog_height_type %></legend>
        <%= select_tag :cog_height_type, options_for_select(['MANUAL', 'TBA', 'HALF OF CARGO HEIGHT OR LESS']), class: 'item_attribute' %>
        
      </fieldset>
      
      <fieldset class="cog_height">
        <legend><%= label_tag :cog_height %></legend>
          <%= number_field_tag :cog_height,nil, in: 0..1200, step: 1, class: 'item_attribute' %>
        
      </fieldset>

      <fieldset class="cog_height_unit">
        <legend><%= label_tag "Unit"%></legend>
        <p>cm</p>
      </fieldset>
      
    </div>

    <div class="actions d-flex flex-row-reverse">
      <div class="btn btn-danger ml-3" id="btn-cancel">
        <%= link_to 'CANCEL', new_container_path %>
      </div>
      
      <button class="btn btn-primary">Save</button>
    </div>

<% end %>